/* Accordin List */

.js [data-anime="accordion"] dd{
  display: none;
}

.js [data-anime="accordion"] dd.ativo{
  display: block;
  animation: showList .5s forwards;
}

@keyframes showList {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 250px;
  }
}

.js [data-anime="accordion"] dt {
  cursor: pointer;
}

.js [data-anime="accordion"] dt:after {
  content: '↴';
  margin-left: 5px;
}

.js [data-anime="accordion"] dt.ativado:after{
  content: '↑';
  margin-left: 5px;
}