@import 'geral.css';
@import 'modal.css';
@import 'js-tabmenu.css';
@import 'js-scroll-animation.css';
@import 'js-accordion.css';
@import 'tooltip.css';
@import 'dropdown-menu.css';
@import 'menu-mobile.css';
@import 'numeros.css';