.text {
  width: calc(100% - 30px);
  height: 350px;
  background: $full-white;
  padding: $padding-s;

  &:focus {
    outline: none;
  }

  p {
    @include font(normal);
  }
  u {
    text-decoration-color: $p-2;
  }
  s {
    text-decoration-color: $p-2;
  }
  sup {
    @include font(quote);
  }
  blockquote {
    @include font(bquote);
  }
  .text-left {
    text-align: left;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
}
